body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.top-navbar{
    background-color: #0096C7;
}
.top-navbar .nav-link{
    color: #fff;
}

.top-navbar .btn{
    border-radius: 0px;
    border-color: #fff;
    color: #fff;
}
.top-navbar .btn:hover{
    border-color: transparent;
    background-color: black;
}
.footer-logo{
    width: 100%;
}
.footer{
    background-color: #0096C7;
    color: #fff;
    
    padding: 0px 40px;
    
    /* bottom 0 position relative */
    position: relative;
    bottom: 0;
    width: 100%;





}

.image-login{
    background-image: url('images/Title-Header.png');
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-image{
    padding: 0px;
    margin: 0px;
    margin-right: -12px;
    height: 100%;
    background-color: #0096C7;

    /* content center top bottom */
    display: flex;
    justify-content: center;
    align-items: center;

}
.row-login{
    height: 100vh;
    width: 100%;
}

.bg-kp-outline-blue{
    color: black;
    font-weight:500;
    border: #0096C7 solid 2px;
}
.bg-kp-outline-blue:hover{
    background-color: #0096C7;
    color: #fff;
}
.required::after{
    content: "*";
    color: red;
}

.errors{
    color: red;
    font-size: 12px;
}
.form-role{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-role input{
    opacity: 0;
}
.form-role label{
    cursor: pointer;
    border: 1px solid #0096C7;
    padding: 10px 20px;
    border-radius: 5px;
    color: #0096C7;
    font-weight: 500;
    width: 50%;
    text-align: center;
}
/* radio  */
.form-role input:checked + label{
    background-color: #0096C7;
    color: #fff;
}
.row-form-role{
    background-color: #F5F5F5;
    /* rounded 10px */
    border-radius: 10px;
}