.top-navbar{
    background-color: #0096C7;
}
.top-navbar .nav-link{
    color: #fff;
}

.top-navbar .btn{
    border-radius: 0px;
    border-color: #fff;
    color: #fff;
}
.top-navbar .btn:hover{
    border-color: transparent;
    background-color: black;
}
.footer-logo{
    width: 100%;
}
.footer{
    background-color: #0096C7;
    color: #fff;
    /* margin left right 20px*/
    padding: 0px 40px;
    /* bottom footer*/
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}